<body>
    <main>
        <section class="presentation">
            <div class="introduction">
                <div class="intro-text">
                    <h1>Ноутбуки для <br>программирования</h1>
                    <p>
                        Мошные процессоры и видео карты от известных компаний.
                    </p>
                </div>
                <div class="cta">
                    <a href="pages/Main/Catalog.html"><button class="cta-select">Каталог</button></a>
                    <a routerLink="/about"><button class="cta-add">О нас</button></a>
                </div>
            </div>
            <div class="cover">
                <img src="https://github.com/AndreiSeradou/image/blob/master/img/pc/1.png?raw=true" alt="1" />
            </div>
        </section>
    
        <img class="big-circle" src="https://raw.githubusercontent.com/AndreiSeradou/image/464ad949b18526e0871b9e58bcb5e5844ba52fbf/img/design/big-eclipse.svg" alt="" />
        <img class="medium-circle" src="https://raw.githubusercontent.com/AndreiSeradou/image/464ad949b18526e0871b9e58bcb5e5844ba52fbf/img/design/mid-eclipse.svg" alt="" />
        <img class="small-circle" src="https://raw.githubusercontent.com/AndreiSeradou/image/464ad949b18526e0871b9e58bcb5e5844ba52fbf/img/design/small-eclipse.svg" alt="" />
    </main>
</body>
<router-outlet></router-outlet>