<body>
    <main>
        <section class="presentation">
            <div class="introduction">
                <div class="intro-text">
                    <h1>Мы рады приветствовать Вас в нашем интернет-магазине!</h1>
                    <p>
                        У нас Вы можете выбрать и заказать качественную технику по доступным ценам и в кратчайшие сроки ее получить!<br>Мы ценим Ваше время, Ваш выбор и дорожим каждым своим клиентом. Поэтому будьте уверены, приобретая у нас товар, вы полностью можете довериться нам! Мы сделаем все возможное — в случае если у Вас возникнут вопросы, связанные с гарантией, ремонтом, мы обещаем не оставить Вас в беде!
                    </p>
                </div>
            </div>
            <div class="cover">
                <img src="https://github.com/AndreiSeradou/image/blob/master/img/pc/Programming.png?raw=true" alt="Programming" />
            </div>
        </section>
    
        <img class="big-circle" src="https://raw.githubusercontent.com/AndreiSeradou/image/464ad949b18526e0871b9e58bcb5e5844ba52fbf/img/design/big-eclipse.svg" alt="" />
        <img class="medium-circle" src="https://raw.githubusercontent.com/AndreiSeradou/image/464ad949b18526e0871b9e58bcb5e5844ba52fbf/img/design/mid-eclipse.svg" alt="" />
        <img class="small-circle" src="https://raw.githubusercontent.com/AndreiSeradou/image/464ad949b18526e0871b9e58bcb5e5844ba52fbf/img/design/small-eclipse.svg" alt="" />
    </main>
</body>