<body>
    <main>
        <section class="presentation">
            <div class="introduction">
                <div class="intro-text">
                    <h1>Выбор заказа:</h1>
         
                        <div class="selectd">
                        <select>
                            <option selected>Выберите</option>
                            <option>Acer Nitro 5</option>
                            <option>Asus Tuf Gaming</option>
                            <option>Macbook Pro</option>
                            <option>Dell XPS</option>
                            <option>Xiomi Redmibook Pro</option>
                            <option>Asus Zenbook 14</option>
                            <option>HP Pavilion Gaming</option>
                            <option>HP Omen</option>
                            <option>Lenovo Ideopad 3</option>
                            <option>CHUWI CoreBook X</option>
                            <option>HP 15</option>
                            <option>Acer Nitro 5</option>
                        </select>
                        </div>
               
                </div>
                <div class="cta">
                    <a href="#"><button class="cta-add">Купить</button></a>
                </div>
            </div>
            <div class="cover">
                <img src="https://github.com/AndreiSeradou/image/blob/master/img/logo/payment.png?raw=true" alt="matebook" />
            </div>
        </section>
    
        <img class="big-circle" src="https://raw.githubusercontent.com/AndreiSeradou/image/464ad949b18526e0871b9e58bcb5e5844ba52fbf/img/design/big-eclipse.svg" alt="" />
        <img class="medium-circle" src="https://raw.githubusercontent.com/AndreiSeradou/image/464ad949b18526e0871b9e58bcb5e5844ba52fbf/img/design/mid-eclipse.svg" alt="" />
        <img class="small-circle" src="https://raw.githubusercontent.com/AndreiSeradou/image/464ad949b18526e0871b9e58bcb5e5844ba52fbf/img/design/small-eclipse.svg" alt="" />
    </main>
</body>