<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Компьютеры</title>
	</head>
	<body>
		<header>
			<div class="logo-container">
				<img src="https://raw.githubusercontent.com/AndreiSeradou/image/464ad949b18526e0871b9e58bcb5e5844ba52fbf/img/design/logo.svg" alt="logo" />
				<h4 class="logo"><a class="nav-link" routerLink="/main-window">Компьютеры</a></h4>
			</div>
			<nav>
				<ul class="nav-links">
					<li><a class="nav-link" routerLink="/catalog">Каталог</a></li>
					<li><a class="nav-link" routerLink="/services">Услуги</a></li>
					<li><a class="nav-link" routerLink="/about">О Нас</a></li>
				</ul>
			</nav>
			<div class="cart">
				<img src="https://raw.githubusercontent.com/AndreiSeradou/image/464ad949b18526e0871b9e58bcb5e5844ba52fbf/img/design/cart.svg" alt="cart" />
				<h4 class="logo"><a class="nav-link" routerLink="/basket">Корзинка</a></h4>
			</div>
		</header>
	</body>
</html>
<router-outlet></router-outlet>