<body>
    <main>
        <header>
            <nav>
                <ul class="nav-links">
                    <li><a class="nav-link" href="#" align="left"><img class="logo" align="left"
                                src="https://github.com/AndreiSeradou/image/blob/master/img/logo/filtericon.png?raw=true">Фильтр</a>
                    </li>
                    <li><a class="nav-link" href="#" align="right"><img class="logo" align="left"
                                src="https://github.com/AndreiSeradou/image/blob/master/img/logo/searchicon.png?raw=true"><input
                                class="info" type="" name="" placeholder="Поиск"></a></li>
                </ul>
            </nav>

        </header>
        <div class="cover" *ngFor="let laptop of laptops">
            <a class="nav-link" href="../pc/huaweimatebook14s.html" align="center"><img src="{{laptop.first?.imageUrl}}"
                    alt="matebook" /><br>{{laptop.first?.name}} {{laptop.first?.model}}</a>

            <a class="nav-link" href="../pc/asustufgaming.html" align="center"><img src="{{laptop.second?.imageUrl}}"
                    alt="tuf" /><br>{{laptop.second?.name}} {{laptop.second?.model}}</a>

            <a class="nav-link" href="../pc/MacbookPro.html" align="center"><img src="{{laptop.third?.imageUrl}}"
                    alt="MacbookPro" /><br>{{laptop.third?.name}} {{laptop.third?.model}}</a>

            <a class="nav-link" href="../pc/DELLXPS159510.html" align="center"><img src="{{laptop.fourth?.imageUrl}}"
                    alt="DellXPS" /><br>{{laptop.fourth?.name}} {{laptop.fourth?.model}}</a>
        </div><br>

        <div><br><br><br><br><br><br>
            <nav>
                <ul class="nav-links">
                    <li><a class="nav-link" href="#" align="left"><img class="logo" align="left"
                                src="https://github.com/AndreiSeradou/image/blob/master/img/logo/phoneicon.png?raw=true">+375257798929</a>
                    </li>
                </ul>
                <ul class="nav-links">
                    <li><a class="nav-link" href="#" align="right"><img class="logo" align="left"
                                src="https://github.com/AndreiSeradou/image/blob/master/img/logo/telegramicon.png?raw=true">@AnDaTraA</a>
                    </li>
                </ul>
            </nav>

        </div><br><br><br><br>

        <img class="big-circle"
            src="https://raw.githubusercontent.com/AndreiSeradou/image/464ad949b18526e0871b9e58bcb5e5844ba52fbf/img/design/big-eclipse.svg"
            alt="" />
        <img class="medium-circle"
            src="https://raw.githubusercontent.com/AndreiSeradou/image/464ad949b18526e0871b9e58bcb5e5844ba52fbf/img/design/mid-eclipse.svg"
            alt="" />
        <img class="small-circle"
            src="https://raw.githubusercontent.com/AndreiSeradou/image/464ad949b18526e0871b9e58bcb5e5844ba52fbf/img/design/small-eclipse.svg"
            alt="" />
    </main>
</body>