<body>
    <main>
        <header>
        <nav>
            <ul class="nav-links">
                <li><a  class="nav-link" href="#" align="left"><img class="logo" align="left" src="https://github.com/AndreiSeradou/image/blob/master/img/logo/filtericon.png?raw=true">Фильтр</a></li>				
                <li><a  class="nav-link" href="#" align="right"><img class="logo" align="left" src="https://github.com/AndreiSeradou/image/blob/master/img/logo/searchicon.png?raw=true"><input class="info" type="" name="" placeholder="Поиск"></a></li>
            </ul>
        </nav>
        
        </header>
        <div class="cover">
            <a class="nav-link" href="../pc/huaweimatebook14s.html" align="center"><img src="https://github.com/AndreiSeradou/image/blob/master/img/pc/MaateBook14s.png?raw=true" alt="matebook" /><br>HUAWEI MateBook 14s</a>
    
            <a class="nav-link" href="../pc/asustufgaming.html" align="center"><img src="https://github.com/AndreiSeradou/image/blob/master/img/pc/AsusTUFGaming.png?raw=true" alt="tuf" /><br>ASUS TUF Gaming</a>
    
            <a class="nav-link" href="../pc/MacbookPro.html" align="center"><img src="https://github.com/AndreiSeradou/image/blob/master/img/pc/MacbookPro.png?raw=true" alt="MacbookPro" /><br>Macbook Pro</a>
    
            <a class="nav-link" href="../pc/DELLXPS159510.html" align="center"><img src="https://github.com/AndreiSeradou/image/blob/master/img/pc/DellXPS.png?raw=true" alt="DellXPS" /><br>DELL XPS 15 9510</a>
            
        </div><br>
    
        <div class="cover">
            <a class="nav-link" href="../pc/XiaomiRedmibookPro.html" align="center"><img src="https://github.com/AndreiSeradou/image/blob/master/img/pc/XiaomiRedmibookPro.png?raw=true" alt="XiaomiRedmibookPro" /><br>Xiaomi Redmibook Pro</a>
    
            <a class="nav-link" href="../pc/AsusZenbook14.html" align="center"><img src="https://github.com/AndreiSeradou/image/blob/master/img/pc/AsusZenbook14.png?raw=true" alt="AsusZenbook14" /><br>Asus Zenbook 14</a>
    
            <a class="nav-link" href="../pc/HPPavilion.html" align="center"><img src="https://github.com/AndreiSeradou/image/blob/master/img/pc/HPPavilion.png?raw=true" alt="HPPavilion" /><br>HP Pavilion Gaming</a>
    
            <a class="nav-link" href="../pc/HPomen.html" align="center"><img src="https://github.com/AndreiSeradou/image/blob/master/img/pc/HPomen.png?raw=true" alt="HPomen" /><br>HP Omen</a>
        </div><br>
    
        <div class="cover">
            <a class="nav-link" href="../pc/LenovoIdeopad3.html" align="center"><img src="https://github.com/AndreiSeradou/image/blob/master/img/pc/LenovoIdeopad3.png?raw=true" alt="LenovoIdeopad3" /><br>Lenovo Ideapad 3</a>
    
            <a class="nav-link" href="../pc/CHUWICoreBookX.html" align="center"><img src="https://github.com/AndreiSeradou/image/blob/master/img/pc/CHUWICoreBookX.png?raw=true" alt="CHUWICoreBookX" /><br>CHUWI CoreBook X</a>
    
            <a class="nav-link" href="../pc/HP15-dw1126ur.html" align="center"><img src="https://github.com/AndreiSeradou/image/blob/master/img/pc/HP15-dw1126ur.png?raw=true" alt="HP15-dw1126ur" /><br>HP 15-dw1126ur</a>
    
            <a class="nav-link" href="../pc/AcerNitro5.html" align="center"><img src="https://github.com/AndreiSeradou/image/blob/master/img/pc/AcerNitro5.png?raw=true" alt="AcerNitro5" /><br>Acer Nitro 5</a>
        </div><br>
    
        <div><br><br><br><br><br><br>
        <nav>
            <ul class="nav-links">
                <li><a  class="nav-link" href="#" align="left"><img class="logo" align="left" src="https://github.com/AndreiSeradou/image/blob/master/img/logo/phoneicon.png?raw=true">+375257798929</a>
                </li>				
            </ul>
            <ul class="nav-links">
                <li><a class="nav-link" href="#" align="right"><img class="logo" align="left" src="https://github.com/AndreiSeradou/image/blob/master/img/logo/telegramicon.png?raw=true">@AnDaTraA</a>
                </li>			
            </ul>
        </nav>
    
        </div><br><br><br><br>
    
        <img class="big-circle" src="https://raw.githubusercontent.com/AndreiSeradou/image/464ad949b18526e0871b9e58bcb5e5844ba52fbf/img/design/big-eclipse.svg" alt="" />
        <img class="medium-circle" src="https://raw.githubusercontent.com/AndreiSeradou/image/464ad949b18526e0871b9e58bcb5e5844ba52fbf/img/design/mid-eclipse.svg" alt="" />
        <img class="small-circle" src="https://raw.githubusercontent.com/AndreiSeradou/image/464ad949b18526e0871b9e58bcb5e5844ba52fbf/img/design/small-eclipse.svg" alt="" />
    </main>
</body>