<body>
    <main>
        <section class="presentation">
            <div class="introduction">
                <div class="intro-text">
                    <h1>Наши услуги</h1>
                    <p>
                        Интернет-магазин предоставляет услуги покупки-продаже ноутбуков.
                    </p>
                    </div>
                <div class="cta">
                    <a href="Catalog.html"><button class="cta-select">Купить</button></a>
                    <a href="Sell.html"><button class="cta-add">Продать</button></a>
                </div>
            </div>
            <div class="cover">
                <img src="https://github.com/AndreiSeradou/image/blob/master/img/pc/1.png?raw=true" alt="matebook" />
            </div>
        </section>
    
        <img class="big-circle" src="https://raw.githubusercontent.com/AndreiSeradou/image/464ad949b18526e0871b9e58bcb5e5844ba52fbf/img/design/big-eclipse.svg" alt="" />
        <img class="medium-circle" src="https://raw.githubusercontent.com/AndreiSeradou/image/464ad949b18526e0871b9e58bcb5e5844ba52fbf/img/design/mid-eclipse.svg" alt="" />
        <img class="small-circle" src="https://raw.githubusercontent.com/AndreiSeradou/image/464ad949b18526e0871b9e58bcb5e5844ba52fbf/img/design/small-eclipse.svg" alt="" />
    </main>
</body>
<router-outlet></router-outlet>
    